<h1>Boston's Best Brunch Spots</h1>

<ul>
  <% @restaurants.each do |restaurant_hash| %>
    <li>
       <a href="/restaurants/<%= restaurant_hash["id"]%>"> <%= restaurant_hash["name"] %> </a>
    </li>
  <% end %>
</ul>

