<h1>Add New Restaurant</h1>

<form method="POST" action="/restaurants">
  <label for="name">Restaurant Name:
      <input type="text" name="restaurant_name"><br>
  </label>

  <button type="submit">Add Restaurant</button>
</form>

<a class="back" href="/">Back to All Brunch Spots</a>
