<h1>Add New Restaurant</h1>

<form method="POST" action="/restaurants">
  <label for="name">Restaurant Name:</label>
  <input type="text" name="name"><br>

  <button type="submit">Add Restaurant</button>
</form>

<a class="back" href="/">Back to All Brunch Spots</a>
