<h1> <%= @restaurant["name"] %></h1>

<div>
  <%= @restaurant["description"] %>
</div>

<div>
  <%= @restaurant["url"] %>
</div>

<div>
  <%= @restaurant["address"] %>
</div>

<a class="back" href="/restaurants">Back to All Brunch Spots</a>
