<h1>Restaurant Name Goes Here</h1>

<h3>Restaurant Title: <%= @restaurant.name %> </h3>

<a class="back" href="/">Back to All Brunch Spots</a>

<br/>

<a class="back" href="/restaurants/new">Add a New Brunch Spot</a>
