<h1><%= @restaurant.name %></h1>
<p> <%= @restaurant.description %> </p>

<img src="<%= @restaurant.image %>" alt="">

<a class="back" href="/">Back to All Brunch Spots</a>
<br/>
<a class="back" href="/restaurants/new">Add a New Brunch Spot</a>
